{% extends 'base.html' %}
{% block content %}
<div class="container py-5" >
    <div class="row">
        <div class="col-12 col-lg-6">
          <img src="{{ url_for('static', filename='img/'+ item[4]) }}" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-lg-6">
          <h2 class="mb-4">{{item[2]}}</h2>
          <h3 style="color: rgb(204,204,204)">{{item[5]}}</h3>
          <a class="btn btn-light btn-lg my-btn my-3" href="{{ url_for('order', item_id=item[0]) }}" alt="" role="button">Купити</a>
          <h5 class="my-2">В наявності: {{item[6]}}</h5>
          <h5 class="my-2">Тип: {{item[7]}}</h5>
          <h5 class="my-2">Рік випуску: {{item[8]}}</h5>
          <p class="my-4">Опис: {{item[3]}}</p>
        </div>
      </div>
    </div>
</div>
{% endblock content %}