{% extends 'base.html' %}
{% block content %}
<div class="container py-5" >
    <h1>Оформлення замовлення</h1>
    <div class="row">
        <div class="col-4 col-md-2">
          <img src="{{ url_for('static', filename='img/'+ item[4]) }}" alt="" class="img-fluid">
        </div>
        <div class="col-8 col-md-10">
          <h2 class="mb-4">{{item[2]}}</h2>
          <h3 style="color: rgb(204,204,204)">{{item[5]}}</h3>
          <h5 class="my-2">Розмір: {{item[7]}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 my-5">
            <form action="" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ваше ім'я</label>
                    <input required name="name" type="text" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Електронна адреса</label>
                    <input required name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Мобільний телефон</label>
                    <input required name="phone" type="tel" class="form-control" id="exampleFormControlInput1" placeholder="+380(00)0000000">
                </div>
                    <button type="submit" class="btn btn-light my-btn">Оформити замовлення</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}